.product-box {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 250px;
    border: 3px solid black;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

    aspect-ratio: 1/1;
    margin-top: 3rem;
    text-align: center;
}

.checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}